<a href="https://colab.research.google.com/github/Shrad03/PythonNotes/blob/main/LearnPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Hello
##Hello
###Hello
*shraddha*
**shraddha**

Interpreter- it changes your code into binary, line by line - R,Python,Javascript, can easily be debugged
compiler- runs all the code at once- C,C++,Java, Difficult to debug

### First program

In [6]:
# variable "", ''
name = input('hi')
print('My name is: ', name)

Keith
My name is:  Keith

In [3]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

### Fundamental Data Types

In [7]:
int
float
bool
str
list
tuple
set
dict

dict

In [12]:
int
float
bool
str
list
tuple
print(set)
print(dict)

<class 'set'>
<class 'dict'>



### specialized datatypes

None

### Int & float

In [14]:
print(type(2+4))
print(type(2-4))
print(type(2*4))
print(type(2/4))
print(type(2%4)) #remainder 2 divided by 4
print(2**4) #2 power 4
print(2//4) #2 divided by 4 is equal to 0.5, truncates to 0.
print(round(2/3)) #round off 2 divided by 3 is equal to 0.6, rounds off to 1
print(abs(2-4)) #modulus of |2-4|=|-2|=2

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>
16
0
1
2

### Operator Precedence

In [18]:
print((20-3) + 2 ** 2)

21

### Other Data types

In [24]:
print(complex(2,4))
print(bin(5))
print(int('0b101', 2))

(2+4j)
0b101
5

In [25]:
help(bin)

Help on built-in function bin in module builtins:

bin(number, /)
    Return the binary representation of an integer.

    >>> bin(2796202)
    '0b1010101010101010101010'

### Variables

In [6]:
var = 192
print("I'm Batman " + str(var))


var1, var2, var3 = 1, 2, 3
print(var1 + var2 + var3)

I'm Batman 192
6

### Expressions and statements

In [7]:
iq = 192 #expression
print(iq) #statement

#augmented assignment operator
someValue = 5
someValue += 2  # someValue = someValue + 2
print(someValue)

192
7

### Strings

In [8]:
print(type('''I'm Batman'''))  #Three ways to quote a string -> '', "", ''' '''
print(type("I'm Batman"))

#string concatenation
firstName = 'Shraddha'
lastName = 'Kurra'
print(firstName + " " + lastName)
print('Hello' + 'Everyone')
print('My IQ is '+ str(192))

print(type(str(192)))
print(type(int(str(192)))) # Type Conversion

<class 'str'>
<class 'str'>
Shraddha Kurra
HelloEveryone
My IQ is 192
<class 'str'>
<class 'int'>

###Escape sequence

In [20]:
#weather = 'It's kinda sunny' #wrong way because the code confuses with the single apostrophe bw t&s and apostrophe before I
weather = "It's kinda sunny" #correct way. You can even use triple single quotes

#or
weather = 'It\'s kinda sunny'
print(weather)

#formulated strings
name = 'John'
age = 55
print('hi ' + name + ', You are ' + str(age) + ' years old')
print(f'hi {name}, You are {age} years old') #f string
print('hi {}, You are {} years old'.format(name, age))
print('hi {}, You are {} years old'.format('John', 55)) #if you don't assign it before you can use this and assign the variables directly in this format

It's kinda sunny
hi John, You are 55 years old
hi John, You are 55 years old
hi John, You are 55 years old
hi John, You are 55 years old

###String Indexes

In [44]:
name = 'kurra'
print(name[0])
#name[5] will throw an error
# [start:stop:stepover]
print(name[0:3:2])
print(name[0:5:2])
print(name[1:])
print(name[::1])
print(name[-1:-6:-1])
print(name[::-1])

#this is called string slicing

k
kr
kra
urra
kurra
arruk
arruk

In [45]:
#immutability
#name[0] = 'I' throws an error, you cannot reassign a value to a part of a string
name = name + ' K'
name

'kurra K'

###Built-in-Functions

In [51]:
#Examples
str()
int()
abs(0)
len('char')
print(name[0:len(name)]) #len(name) = number of character (incl spaces) or elements
print(name.capitalize())
print(name.upper())
print(name.find('K'))
print(name.replace('urra K', 'athi R'))

kurra K
Kurra k
KURRA K
6
kathi R

###Booleans

In [60]:
False
True
print(False)
print(True)

False
True

In [61]:
print(bool(0))
print(bool(1))

False
True

###Type conversion

In [72]:
name = 'Shraddha'
age = 50
relationship = 'single'

relationship = 'complicated'
relationship

'complicated'

In [76]:
birthYear = input('What year you were born? ')
birthYear = int(birthYear)

age = 2023 - birthYear
print(f'You are {age} years old' )

What year you were born? 1999
You are 24 years old

###Password checker excercise

In [79]:
username = input('username: ')
password = input('password: ')

print(username)
print(password.replace(password[0:len(password)], str('*' * len(password))) + 'contains ' + str(len(password)) + ' characters')

username: shraddha99
password: shraddha@123
shraddha99
************contains 12 characters